$amarillo: #e7af1f;
$gris: #6d6e70;
$gristarjetas: #504f4fc2;
$grisfooter:#bdbbbbee;
$fontbody: 'Montserrat', sans-serif;;
$fonttitulo: "Ubuntu", sans-serif;

hr {
  color: black;
  padding: 1.5px;
}
